@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background: linear-gradient(90deg, #011927,#005539 );
}

header{
    position: relative;
}

.container-cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;

}

.logo img{
    width: 40px;
    height: auto;
}

.logo h1{
    color: #ffffff;
    font-size: 1.55rem;
    font-weight: 700;
    margin-left: 0.8rem;
}

ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

ul li a:hover{
    color: #5bacdf;
}

.btn{
    background-color: #5bacdf;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;
}

.btn:hover{
    background-color: #011927;
}

.meio{
    display: flex;
    max-width: 100%;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.meio p{
    color: #ffffff;
}

.direita img{
    max-width: 100%;
    width: 650px;
    margin-top: 3rem;
    height: auto;
}

.esquerda{
    max-width: 100%;
}

.titulo h1{
    font-size: 50px;
    color: #ffffff;
}

.esquerda p{
    color: #ffffff;
    line-height: 2.5rem;
}


button{
    color: #ffffff;
    background-color: #5bacdf;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1.5rem;
    cursor: pointer;
}

button:hover{
    background-color: #011927;
}

aside{
    display: none;
}

@media screen and (max-width: 850px) {
    ul{
        display: none;
    }

    .links{
        display: block;
    }

    .logo{
        margin-right: 15rem;
    }

    aside{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        overflow: hidden;
    }

    .esquerdo{
        margin-left: 30px;
    }

    #barra-menu{
        background-color: #2889c2;
        width: 0px;
        height: 150vh;
        transition: 0.3s all;
    }

    .icon-menu ion-icon{
        width: 45px;
        height: 45px;
        margin-right: 1.5rem;
        margin-top: 2.8rem;
        color: #ffffff;
    }

    #barra-menu ul{
        align-items: center;
        text-align: center;
        padding: 5rem;
        line-height: 5rem;
    }

    #barra-menu ul li a{
        color: #011927;
        text-decoration: none;
        font-size: 1rem;
        width: 100%;
    }

    #barra-menu ul li a:hover{
        padding: 8px;
        border-radius: 15px;
        background-color: #5bacdf;
    }

    .C-icon{
        margin-top: 50%;
        display: flex;
        justify-content: center;
        gap: 15px;
        overflow: hidden;
    }

    .C-icon span{
        color: #ffffff;
        font-size: 1rem;
    }

    .icon-inner{
        margin-top: 10px;
    }

    @media screen and(max-width:580px) {
        .titulo h1{
            font-size: 2.2rem;
            margin-left: 1.5rem;
        }

        .esquerdo p {
            font-size: 1rem;
            margin-left: 1.5rem;
            width: 450px;
        }

        button{
            margin-left: 1.5rem;
        }

        .direita img{
            max-width: 100%;
            width: 450px;
            margin-top: 4.5rem;
            height: auto;
        }
    }

    @media screen and(max-width:450px){
        .direita img{
            margin-left: 1.2rem;
        }

        .esquerdo p{
            width: 300px;
        }
    }
}
